<h1>Book Exchange</h1>

<div class='registerlink'>
  <%= link_to 'Register', new_user_path %> 
</div>

<div class='loginlink'>
  <%= link_to "Login", :controller => "users", :action => "login" %> 
</div>

