/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



div#header {
  float:right;
  font-size:3em;
  font-weight:bold;
  font-family: 'Cagliostro', cursive;
  letter-spacing: 5px;
  margin-top: 30px;
  margin-right: 30px;
}


div.loginout {
  float:right;
  clear:right;
  margin-top:20px;
  margin-right:30px;
}

div.loginout div {
  display: inline;
  padding-left:15px;
}
